ALPACA_API_KEY_ID=your_alpaca_paper_api_key_id
ALPACA_API_SECRET_KEY=your_alpaca_paper_api_secret_key
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_BATCH_CASH_FRACTION=0.10
ALPACA_BUY_LIMIT_BUFFER_BPS=500
ALPACA_GTC_SELL_RENEWAL_ENABLED=true
ALPACA_GTC_SELL_RENEWAL_DAYS_BEFORE_EXPIRATION=7
TRADIER_ACCESS_TOKEN=your_tradier_access_token
